## Git & tools
.git
.gitignore
.editorconfig
.dockerignore
docker-compose.yml

## IDEs
.idea
.vscode

## Non-docker files
/traefik/certs/.*
/traefik/certs/*.md
/frontend
/example

## Temp dirs & trash
/temp
/tmp
.DS_Store
