@forward '~/theme/app';

.list {
  background-color: var(--color-bg-primary);
  padding: 1em;
  border-radius: 1em;
  border-color: var(--color-ui-border-active);
  border: solid 1px;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    .col {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      .segment {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.3em;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}
