:root {
  //--color-scrollbar-thumb: #aaa;

  --color-bg-primary: #fff;
  //--color-bg-light: #f2f2f2;
  //--color-bg-inverted: #3a3a3a;

  --color-text-primary: #454545;
  --color-text-light: #aaa;
  //--color-text-inverted: #fff;

  --color-link-primary: #108ee9;
  //--color-link-light: #9a9a9a;
}

@media (prefers-color-scheme: dark) {
  :root {
    //--color-scrollbar-thumb: #666;

    --color-bg-primary: #18181c;
    //--color-bg-light: #3a3a3a;
    //--color-bg-inverted: #eaeaea;

    --color-text-primary: #dcdcdc;
    --color-text-light: #666;
    //--color-text-inverted: #2f2f2f;

    --color-link-primary: #81c0ee;
    //--color-link-light: #6a6a6a;
  }
}

a {
  color: var(--color-link-primary);
  text-decoration: none;
}

.text-light {
  color: var(--color-text-light);
}
